* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    color:aliceblue;
}

body {
    background-color: lightcyan;
}

.hidden {
    visibility: hidden;
}

.feedback, .start-button {
    box-shadow: 1px 1px black;
}

.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100vw;

}

.header {
    flex: 0 1 0;
    text-align: center;
    align-self: center;
    justify-self: flex-start;
    margin-top: 0px;
    margin-bottom: 30px;
    padding: 10px 200px;
    background-color: darkcyan;
    position: fixed;
    top: 0;
    width: 100%
}
.header h1 {
    font-weight: 600;
}

.feedback {
    text-align: center;
    flex: 0 1 0;
    background-color: darkcyan;
    margin: 30px auto;
    padding: .5ch 2ch;
    font-size: 18px;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-self: center;
    flex: 1 1 auto;
    padding: 0px;
}

.choices {
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    gap: 2ch;
    margin: 2ch;
}

.choice {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    gap: 3ch;
}

img {
    height: 200px;
    filter: drop-shadow(2px 2px 2px rgb(0 0 0 /0.6));
}

img:hover {
    transition: 0.35s;
    scale: 1.05;
}

.footer {
    margin-top: auto;
    padding: 8px 2ch;
    text-align: center;
    align-content: center;
    justify-content: center;
    background-color: darkcyan;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
    width: 100vw;
}

.start-button {
    background-color: darkcyan;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 1px solid rgb(80, 80, 80);
    margin: 4px auto;
    flex: 0 1 1;
    border-radius: 2px;
    font-weight: 500;
}

.start-button:active {
    box-shadow: none;
    border: none;
}

.start-button:hover {
    transition: 0.35s;
    scale: 1.05;
}